[submodule "freetype"]
	path = freetype
	url = https://github.com/freetype/freetype.git
[submodule "utf8proc"]
	path = utf8proc
	url = https://github.com/JuliaStrings/utf8proc.git
[submodule "harfbuzz"]
	path = harfbuzz
	url = https://github.com/harfbuzz/harfbuzz.git
[submodule "FreeImage"]
	path = FreeImage
	url = https://github.com/danoli3/FreeImage.git
[submodule "fontconfig"]
	path = fontconfig
	url = https://github.com/behdad/fontconfig.git
